In [ ]:
import pandas as pd

df = pd.read_csv("../../Retail_Transaction_Dataset.csv")
df.head()

,CustomerID,ProductID,Quantity,Price,TransactionDate,PaymentMethod,StoreLocation,ProductCategory,DiscountApplied(%),TotalAmount
0,115768,C,7,80.079844,12/26/2023 12:32,Cash,"67820 Case Flats Apt. 690\nMichellechester, FM...",Books,18.677100,455.862764
1,671813,C,4,75.195229,8/5/2023 0:00,Cash,72634 Matthew Bridge Suite 118\nSouth Sherrimo...,Home Decor,14.121365,258.306546
2,249334,A,8,31.528816,3/11/2024 18:51,Cash,"439 Sheri Wall\nMillerberg, RI 14668",Books,15.943701,212.015651
3,219679,D,5,98.880218,10/27/2023 22:00,PayPal,"8048 John Islands\nLake Kelly, CO 26418",Books,6.686337,461.343769
4,73098,A,7,93.188512,12/22/2023 11:38,Cash,"85531 Stephanie Hill\nEast Tracy, PW 41903",Electronics,4.030096,626.030484

In [ ]:
# Get stores analysis revenues
noStores = df.StoreLocation.unique()
print(len(noStores))

store_revenue = df.groupby("StoreLocation")["TotalAmount"].sum()
sorted_store_revenue = store_revenue.sort_values(ascending=False)

sorted_store_revenue.head()

1000

TypeError: Series.sort_values() got an unexpected keyword argument 'by'